* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: white;
}

.container {
  max-width: 900px;
  margin: 50px auto 180px;
  text-align: center;
}

.contact-form {
  background: #233f99;
  padding: 20px;
  max-width: 500px;
  border-radius: 5px;
  color: black;
  font-family: "Open Sans Regular", sans-serif;
  margin: 20px auto;
  text-align: left;
}

header {
  text-align: right;
  background: #333;
  padding: 20px 20px;
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #231f20;
  margin: 5px;
  padding: 5px;
}

.label_input_wrap {
  display: block;
}

label {
  font-weight: bold;
  margin-bottom: 2px;
}

.submit input {
  background: white;
  color: #231f20;
  padding: 5px 20px;
  display: inline;
}

.submit {
  display: inline;
}

.input-section {
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  border-radius: 3px;
}
textarea {
  font-family: sans-serif;
  padding: 10px 10px;
}

select {
  width: 185px;
  padding: 8px 0;
  border-radius: 4px;
}

h1 {
  margin-top:20px;
}

footer {
  background: #a0a5a5;
  color: #231f20;
  text-align: left;
  padding: 20px; 0;
}
